/* Tema Claro */

:root {
  --primary-red--: #c1272d;
  --dark-red--: #ff3030;
  --gray--: #4b5061;
  --background-light--: #f5f5f5;
  --background-header--: #ffffff;
  --background-product--: #ffffff;
  --text-color--: #000000;
  --text-muted--: #757575;
  --price-color--: #00af00;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-light--);
  color: var(--text-color--);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.content {
  max-width: 1440px;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-flutuante {
  cursor: pointer;
  position: fixed;
  color: var(--text-color--);
  background-color: var(--primary-red--);
  padding: 15px;
  bottom: 30px;
  right: 30px;
  border-radius: 30px;
  transition: 1s ease-in-out;
}

.btn-flutuante:hover {
  transform: scale(1.15);
  background-color: var(--dark-red--);
}

.header {
  width: 100%;
  background-color: var(--background-header--);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header .cabecalho {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .cabecalho a img {
  width: 100px;
  transition: 1s ease-in-out;
}

.header .cabecalho a:hover img {
  transform: scale(1.15);
}

.header .cabecalho ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .cabecalho ul li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header .cabecalho ul li a {
  cursor: pointer;
  color: var(--gray--);
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.header .cabecalho ul li a:hover {
  color: var(--text-color--);
  background-color: var(--primary-red--);
}

hr {
  border: 3px solid var(--primary-red--);
  width: 100%;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-produtos {
  color: var(--gray--);
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-product--);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.produto a img {
  margin-right: 10px;
  background: yellow;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
}

.produto a:hover img {
  opacity: 0.8;
}

.produto .brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 190px;
  margin-top: 10px;
}

.produto .brand h2 {
  color: var(--gray--);
  font-size: 0.9rem;
  margin-top: 10px;
}

.produto .categoria-produto {
  color: var(--text-muted--);
  font-size: 0.6rem;
}

.produto .categoria-produto b {
  color: var(--primary-red--);
  font-size: 0.7rem;
}

.produto .marca-produto {
  color: var(--text-muted--);
  font-size: 0.6rem;
}

.produto .marca-produto b {
  color: var(--primary-red--);
}

.produto .valor-produto {
  color: var(--price-color--);
  font-size: 1.7rem;
}

.produto .desconto {
  color: var(--price-color--);
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.produto .botao-adicionar {
  color: white;
  background-color: var(--dark-red--);
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-weight: 300;
  transition: 0.5s ease-in-out;
}

.produto .botao-adicionar:hover {
  background-color: var(--primary-red--);
}

.carrinho {
  color: var(--text-color--);
  overflow-y: scroll;
  display: none;
  background-color: var(--background-product--);
  padding: 30px;
  position: fixed;
  top: 150px;
  right: 20px;
  width: 400px;
  max-height: 500px;
}

.carrinho .fechar {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: var(--primary-red--);
  color: aliceblue;
  padding: 0 10px;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.carrinho .fechar:hover {
  background-color: var(--dark-red--);
}

.carrinho .item-carrinho {
  display: flex;
  align-items: center;
  background-color: var(--background-light--);
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
  gap: 10px;
}

.carrinho h2 {
  margin-bottom: 10px;
  color: var(--gray--);
  font-size: 1.2rem;
}

.carrinho .item-carrinho img {
  width: 20%;
  border-radius: 30px;
}

.carrinho .item-carrinho .info {
  font-size: 1rem;
  color: var(--text-color--);
}

.carrinho .item-carrinho .info .valor {
  color: var(--price-color--);
}

.item-carrinho .info .remover-item {
  color: var(--text-color--);
  background-color: var(--primary-red--);
  padding: 5px;
}

.carrinho .total {
  color: var(--price-color--);
}

.carrinho .continuar {
  color: var(--gray--);
  background-color: var(--primary-red--);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.carrinho .continuar:hover {
  background-color: var(--dark-red--);
  transition: 0.5s ease-in-out;
}

.carrinho .finalizar {
  color: var(--text-color--);
}

.carrinho .finalizar:hover {
  color: var(--gray--);
  transition: 0.2s ease-in-out;
}

.carrinho .limpar {
  margin-top: 5px;
  color: var(--text-color--);
}

.carrinho .limpar:hover {
  color: var(--gray--);
  transition: 0.2s ease-in-out;
}

/* STYLE DA PÁGINA DETALHES */

.btn-voltar {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  color: white;
  background-color: var(--primary-red--);
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  transition: 0.5s ease-in;
}

.btn-voltar:hover {
  background-color: var(--dark-red--);
  transform: scale(1.05);
}

.container-detalhes {
  margin-top: 50px;
  background-color: var(--background-header--);
}

.produto-clicado .produto-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.produto-content .produto-imagem img {
  width: 800px;
}

.produto-content .produto-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.produto-info hr {
  border: 2px solid var(--gray--);
  margin-bottom: 40px;
}

.produto-info .produto-titulo {
  color: var(--text-color--);
  font-size: 1.9rem;
  text-transform: uppercase;
}

.produto-marca {
  color: var(--text-muted--);
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.produto-preco {
  color: var(--price-color--);
  font-size: 3.5rem;
}

.produto-desconto {
  color: var(--price-color--);
  font-size: 0.7rem;
}

.produto-preco-pix {
  color: var(--price-color--);
}

.produto-descricao h3 {
  color: var(--primary-red--);
  font-size: 0.9rem;
}

.produto-descricao p {
  width: 70%;
  color: var(--gray--);
  font-size: 0.7rem;
  font-weight: 100;
  text-align: justify;
}

.btn-action {
  display: flex;
  margin-bottom: 40px;
}

.botao-add-detalhes {
  width: 250px;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: #00af00;
  padding: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.botao-add-detalhes:hover {
  background-color: #006600;
}
